<div class="m-3 d-flex flex-row gap-5">
	<form  class="d-inline-flex card flex-column gap-3 card-body flex-wrap flex-grow-1">

		<h1 class="card-title align-self-center">Añadir actor</h1>
		
		<!-- 
			<p *ngIf="this.actorForm.status == 'INVALID'" >ERROR</p>
		-->

		<div class="d-flex flex-row flex-wrap  gap-4 ">
			<div class="d-flex flex-column flex-grow-1">
				<label> Nombre </label>
				<input formControlName="nombre" type="text" placeholder="Nombre" class="form-control">
			</div>
			<div class="d-flex flex-column flex-wrap flex-grow-1">
				<label> Apellido </label>
				<input formControlName="apellido" type="text" placeholder="Nombre" class="form-control">
			</div>
		</div>

		<div class="d-flex flex-row flex-wrap gap-4">
			<div class="d-flex flex-column flex-grow-1">
				<label> Fecha de nacimiento </label>
				<input formControlName="fechaNacimiento" type="date" class="form-control">
			</div>
			<div class="d-flex flex-column flex-grow-1">
				<label> Cantidad de películas </label>
				<input formControlName="cantidadPeliculas" type="text" placeholder="Nombre" class="form-control">
			</div>
		</div>

		<div class="d-flex flex-column">
			<label> Ciudad natal </label>
			<input formControlName="ciudadNatal" type="text" placeholder="Nombre" class="form-control">
		</div>
	</form>

	<div class="flex-grow-1">
		<app-pais-tabla></app-pais-tabla>
	</div>
</div>
