<div class="card movie-card">
	
	<div *ngIf="this.pelicula?.nombre; else chooseAMovie" class="card-body">
		<div class="movie-img-container card shadow" 
			[ngStyle]="{'background-image':this.obtenerFotoPelicula(this.pelicula)}">
			<div class="d-flex flex-column me-5 p-5 mt-5 gap-2 align-items-baseline text-white" >
				
				<h1 class="" > 
					{{ this.pelicula.nombre }} 
				</h1>
				
				<div class="d-inline-block"> Categoría: {{ this.pelicula.tipo }} </div>
				
				<div>
					Estreno en <b>{{ this.formatearFechaEstreno(this.pelicula) | date: 'dd-MM-yyyy' }}</b> 
				</div>
		
					<p class="card-text">
					<b> {{ this.pelicula.cantidadPublico | number}} </b> Visualizaciones
				</p>
			</div>
		</div>
	</div>

	<ng-template #chooseAMovie>
		<div class="container card card-stepper details-container d-flex justify-content-center align-items-center text-muted" style="width: 40rem; height: 20rem;">
			<p>Detalle</p>
			<h1>Seleccione una película</h1>
		</div>
	</ng-template>
</div>
