<div class="card shadow">
	<div class="table-responsive">
		<table class="table align-items-center table-flush">
		
		<thead class="thead-light">
			<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Fecha de nacimiento</th>
			<th scope="col">Nacionalidad</th>
			<th scope="col">Ciudad Natal</th>
			</tr>
		</thead>


		<tbody>
			<tr *ngFor="let actor of pageData; index as i" [ngClass]="this.rowStatus(i)" (click)="this.onActorSeleccionado(actor, i)">
				<th scope="row">
					<div class="media align-items-center">
					<div class="media-body">
						<span class="mb-0 text-sm"> {{ actor.nombre + ' ' + actor.apellido }} </span>
					</div>
					</div>
				</th>
				<td>
					{{ this.formatearFechaNacimiento(actor) | date: 'yyyy-MM-dd'  }}
				</td>
				<td>
					<span class="badge badge-dot mr-4 text-black">
						<i class="bg-warning"></i> {{ actor.nacionalidad.name }}
					</span>
				</td>
				<td>
					<div class="d-flex align-items-center">
						{{ actor.ciudadNatal }}
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
	
	
	
	<div class="card-footer py-4">
		<nav aria-label="...">
		<ul class="pagination justify-content-end mb-0">
			<li class="page-item">
			<a class="page-link" (click)="this.previousPage()" tabindex="-1">
				<i class="fas fa-angle-left"></i>
				<span class="sr-only">Previous</span>
			</a>
			</li>
			<li class="page-item">
			<a class="page-link" (click)="this.nextPage()">
				<i class="fas fa-angle-right"></i>
				<span class="sr-only">Next</span>
			</a>
			</li>
		</ul>
		</nav>
	</div>


</div>